---
site:
  title: Tez'Note
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/_assets/main.css" />
  </head>
  <body>
    <section>
      <header>
      {% for menu in menus %}
        <div><a href="{{ menu.pathname }}">{{ menu.title }}</a></div>
      {% endfor %}
      </header>
    </section>
    <section>
      <main>
        <!-- fetched page goes here -->
      </main>
      <footer>
        Footer...
      </footer>
    </section>
  </body>
</html>